<div class="patientLogin">
<div>
<form [formGroup]="doctor_login">
<div class="pForm">
    <div class="form-group">
        <label for="Name">UserName</label>
        <input type="text" class="form-control" id="Name"  placeholder="Enter UserName" formControlName="UserName">
        <div class="error" *ngIf ="doctor_login.get('UserName')?.invalid && doctor_login.get('UserName')?.touched ">UserName is required </div>
      </div>
    
    <div class="form-group ">
    <label for="Age">Password</label>
        <input type="password" class="form-control" id="Age"  placeholder="Enter Password" formControlName="Password"> 
        <div class="error" *ngIf ="doctor_login.get('Password')?.invalid && doctor_login.get('Password')?.touched ">Password is required </div>
      </div>

      <button type="submit" (click)="onSubmit()">Submit</button>
    </div>
    </form>
</div></div>
    
    <router-outlet></router-outlet>
    
