.calender{
    background-color: #9cbcb7;
    height: 100%;
    padding: 20px;
    
}

.booking{
    margin-top: 56px;
}
button{
    background-color:  #6e4975;
    border: none;   
    color: #9cbcb7; 
}


