<nav class="navbar navbar-expand-lg bg-body-tertiary backg ">
  <div class="container-fluid navClass">
    <a class="navbar-brand homeLog">Home</a>
    <div>
      <a class="navbar-brand homeLog"(click)="logOut()">Logout</a>
    </div>
  </div>
</nav>
  <div class="sidebar">
   
    <a href="/editProfile">Edit Profile</a>
    <a href="/AppointmentDetailOfPatinetById">Appointment History</a>
    <a href="/specializations">Book Doctor</a>
  </div>
  
  <div class="content">
    
    <div class="specializations">
      <div class="specialization">
    <div>
      <div class="card ">
        <div class="card-body">
          <p class="card-text" *ngIf="status"></p>
          <h2>{{ patientDetails.patientName }}</h2>
  <p>Email: {{ patientDetails.email }}</p>
  <p>Phone: {{ patientDetails.phone }}</p>
  <p>Age:{{patientDetails.age}}</p>
  <p>Gender:{{patientDetails.gender}}</p>
  <p>City:{{patientDetails.city}}</p>
  <p>State:{{patientDetails.state}}</p>   
  <p>Pin:{{patientDetails.pin}}</p>               
    </div> 
    </div>  
  </div>



<router-outlet></router-outlet>
