 
  <div class="sidebar">
   
    <a href="/editProfile">Edit Profile</a>
    <a href="/AppointmentDetailOfPatinetById">Appointment History</a>
    <a href="goToSpecializations()">Book Doctor</a>
  </div>
  
  <div class="content">
    
    <div class="specializations">
      <div class="specialization">
    <div>
      <div class="card ">
        <div class="card-body">
          <p class="card-text" *ngIf="status"></p>
          <h2>{{ patientDetails.patientName }}</h2>
  <p>Email: {{ patientDetails.email }}</p>
  <p>Phone: {{ patientDetails.phone }}</p>
  <p>Age:{{patientDetails.age}}</p>
  <p>Gender:{{patientDetails.gender}}</p>
              
           
    </div>
    
    </div>



    
  </div>



<router-outlet></router-outlet>
