<nav class="navbar navbar-expand-lg bg-body-tertiary backg ">
  <div class="container-fluid navClass">
    <a class=navbar-brand (click)="goToProfile()">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>

<div class="sidebar">
   
  <a href="/AppointmentDetailByDoctor">Appointment History</a>
</div>

<div class="content">

  <div class="specializations">
    <div class="specialization">
    
      <div>
      <div class="card">
          <div class="card-body">
            
            <ul>
              <li class="card-text"*ngFor="let Appointment of appointmentDetails">
                <div class="newAppointment">
                <p class="card-text">patientName:{{ Appointment.patientName }}</p>
                <p class="card-text">appointmentDate:{{ Appointment.appointmentDate }}</p>
                <p class="card-text" *ngIf="SlotTimeCheck(Appointment.slotTime)">SlotTime:{{ getSlotTime(Appointment.slotTime) }}</p>
      
                <div *ngIf="Appointment.status">
                  <ng-container *ngIf="isFutureDate(Appointment.appointmentDate); else doneTemplate">
                    <div class="cardButtons">
                      <div>
                      <button class="btn shadow cancel" (click)="Cancel(Appointment.id)">Cancel Appointment</button>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #doneTemplate>
                    <div class="cardButtons">
                      <div>
                    <button class="btn shadow done" type="button">Done</button>
                  </div>
                </div>
                  </ng-template>
              </div>
              
              <div *ngIf="!Appointment.status">
                <div class="cardButtons">
                  <div>
                <button class="btn shadow cancelled" type="button">Cancelled Appointment</button>
              </div>
            </div>
            </div>
          </div>
              </li>
            </ul>
</div>


          
      </div>
      </div>
    
          </div>
        </div>
      </div>
    
    