


  <div class="specializations">
    <div class="specialization">
    
      <div>
      <div class="card">
          <div class="card-body">
            
            <ul>
              <li class="card-text"*ngFor="let Appointment of appointmentDetails">
                <div class="newAppointment">
                <p class="card-text">patientName:{{ Appointment.patientName }}</p>
                <p class="card-text">appointmentDate:{{ Appointment.appointmentDate }}</p>
                <p class="card-text" *ngIf="SlotTimeCheck(Appointment.slotTime)">SlotTime:{{ getSlotTime(Appointment.slotTime) }}</p>
      
                <div *ngIf="Appointment.status">
                  <ng-container *ngIf="isFutureDate(Appointment.appointmentDate); else doneTemplate">
                    <div class="cardButtons">
                      <div>
                      <button (click)="Cancel(Appointment.id)">Cancel Appointment</button>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #doneTemplate>
                    <div class="cardButtons">
                      <div>
                    <button type="button">Done</button>
                  </div>
                </div>
                  </ng-template>
              </div>
              
              <div *ngIf="!Appointment.status">
                <div class="cardButtons">
                  <div>
                <button type="button">Cancelled Appointment</button>
              </div>
            </div>
            </div>
          </div>
              </li>
            </ul>


          
      </div>
      </div>
    
          </div>
        </div>
      </div>
    
    