.landing {  
    background-image: url("/landing.png");
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}

.fullBody{
    background-color:#dfebe9;
}

.backg {
    background-color: #6e4975;
}
.getStart {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    color: #56486c; 
    font-family:alkatra; 
    font-size: 35px;
   
}
.getStart .btn{
    color: #dfebe9;
    background-color: #56486c;
    font-size: 20px; 
}

.navbar {
    position: absolute;
    width: 100%; 
    z-index: 1; 
}

.navbar-brand, .nav-link, .dropdown-item {
    color:#dfebe9;
}
