<div class="card w-75">
    <div class="card-body">
      <h2 class="card-title">Dermatology</h2>
      <p class="card-text" *ngIf="showDermCount">{{dermcount}} doctors available</p>
      <button type="button" class="btn btn-light form-control shadow bg-body rounded signin" (click)="onSubmit(1)">
        Click here to know no of available doctors
    </button>
    <button type="button" class="btn btn-light form-control shadow bg-body rounded signin" (click)="viewDocotors(1)">
      Click here to Book
  </button>
    </div>
  </div>

  <div class="card w-75">
    <div class="card-body">
      <h2 class="card-title">Cardiology</h2>
      <p class="card-text" *ngIf="showCardCount">{{cardcount}} doctors available</p>
      <button type="button" class="btn btn-light form-control shadow bg-body rounded signin" (click)="onSubmit(3)">
        Click here to know no of available doctors
    </button>
    <button type="button" class="btn btn-light form-control shadow bg-body rounded signin" (click)="viewDocotors(1)">
      Click here to Book
  </button>
    </div>
  </div>

  <div *ngIf="doctors.length > 0">
    <h3>Available Doctors</h3>
    <ul>
      <li *ngFor="let doctor of doctors">
        <p>Name:{{ doctor.Name }}</p>
        <p>RegistrationId:{{ doctor.RegistrationId }}</p>
        <p>Experience:{{ doctor.Experience }}</p>
        <button (click)="bookAppointment(doctor.DoctorId)">Book Now</button>
      </li>
    </ul>
  </div>
  
  
      