

body {
    margin: 0;
    
  }
.dropdown-menu{
    background-color: #6e4975;
}
.dropdown-item:hover{
    background-color: #56486c;
}

.navbar {
    position: fixed;
    width: 100%; 
    z-index: 1; 
}

.navbar-brand, .nav-link, .dropdown-item {
    color:#dfebe9;
}

.navbar-brand, .nav-link:hover{
    color:#ffffff;
}
.backg {
    background-color: #6e4975;
}

a:hover{
    color:white;
}

.specialization{
    display: flex;
    flex-direction: column;  
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap:30px;
    font-family: EB Garamond;
    margin-top: 56px;
    
}

.specializations{   
    background-color: #9cbcb7;
    padding: 25px;
    height: 100vh;
    
   
}

.card{
    width: 90vh;
    background-color:#dfebe9;
    color: #56486c;
}

.cardButtons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.card-title{
    text-align: center;
    font-family: EB Garamond;    
}


button:hover{
    background-color: white;
}
li{
    list-style-type: none;
}
.newAppointment{
    margin-bottom: 50px;
}

.Cancelled{
    background-color:#e4856c;
}

.Cancel{
    background-color:#bed5db;
}

.Done{
    background-color: #9abab5;
}





  
  .sidebar {
    margin-top: 50px;
    padding: 0;
    width: 15vw;
    background-color: #bbd3d9;
    position: fixed;
    height: 100%;
    overflow: auto;
    border-right:  1px solid black;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    background-color:#99a2d0;
    font-family: EB Garamond;
    border-bottom: 1px solid black;
    
    

  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    
  }
  
  .sidebar a:hover{
    background-color: #bcbcbc;
  }
 

  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .homeLog:hover{
    cursor: pointer;
  }



