  
  <nav class="navbar navbar-expand-lg bg-body-tertiary backg ">
    <div class="container-fluid navClass">
      <a class=navbar-brand (click)="goToProfile()">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>
  
  <div class="specializations">
    <div class="specialization">
    
      <div>
      <div class="card">
          <div class="card-body">
            
            <ul>
              <li class="card-text"*ngFor="let Appointmnet of list">
                <div class="newAppointment">
                <p class="card-text">DoctorName:{{ Appointmnet.doctorName }}</p>
                <p class="card-text">appointmentDate:{{ Appointmnet.appointmentDate }}</p>
                <p class="card-text" *ngIf="SlotTimeCheck(Appointmnet.slotTime)">SlotTime:{{ getSlotTime(Appointmnet.slotTime) }}</p>
      
                <div *ngIf="Appointmnet.status">
                  <ng-container *ngIf="isFutureDate(Appointmnet.appointmentDate); else doneTemplate">
                    <div class="cardButtons">
                      <div>
                      <button class="btn shadow" (click)="Cancel(Appointmnet.id)">Cancel Appointment</button>
                      </div>
                    </div>
                  </ng-container>
                  <ng-template #doneTemplate>
                    <div class="cardButtons">
                      <div>
                    <button type="button" class="btn shadow">Done</button>
                  </div>
                </div>
                  </ng-template>
              </div>
              
              <div *ngIf="!Appointmnet.status ">
                <div class="cardButtons">
                  <div>
                <button type="button" class="btn shadow">Cancelled Appointment</button>
              </div>
            </div>
            </div>
          </div>
              </li>
            </ul>


          
      </div>
      </div>
    
          </div>
        </div>
      </div>
    
    