<div *ngIf="status">
    <h2>{{ doctorDetails.name }}</h2>
    <p>Experience: {{ doctorDetails.experience }} years</p>
    <p>Registration ID: {{ doctorDetails.registrationId }}</p>
    <p>Specializations:</p>
    <ul>
      <li *ngFor="let specialization of doctorDetails.specializations">
        {{ specialization }}
      </li>
    </ul>
  </div>
  
<div class="buttons">
<div> <button class="shadow p-3 mb-5 bg-white rounded">Edit Profile</button> </div>
<div><button class="shadow p-3 mb-5 bg-white rounded">Appointment History</button></div>
</div>
<router-outlet></router-outlet>