
 
  <div class="sidebar">
   
    <a href="/AppointmentDetailByDoctor">Appointment History</a>
  </div>
  
  <div class="content">
    <div class="specializations">
      <div class="specialization">
    <div>
      <div class="card ">
        <div class="card-body">
          <p class="card-text" *ngIf="status"></p>
          <h2>{{ doctorDetails.name }}</h2>
      <p>Experience: {{ doctorDetails.experience }}</p>
      <p>Registration ID: {{ doctorDetails.registrationId }}</p>
      <p>Specializations:</p>
      <ul>
        
        <li *ngFor="let specialization of doctorDetails.specializations">
          {{ specialization }}
        </li>
      </ul>
              
           
    </div>
    
    </div>

      


  
    
    </div>
    
  </div>

<router-outlet></router-outlet>
