
body {
    margin: 0;
    
  }
  
  .sidebar {
    margin-top: 50px;
    padding: 0;
    width: 200px;
    background-color: #bbd3d9;
    position: fixed;
    height: 100%;
    
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
    background-color:#99a2d0;
    font-family: EB Garamond;
    

  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    
  }
  
  .sidebar a:hover{
    background-color: #bcbcbc;
  }
 
  div.content {
    background-color:#9cbcb7;
    margin-left: 200px;
    padding: 1px 16px;
    padding-top: 60px;
    overflow: hidden;
    font-family: EB Garamond;

  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }

  .specialization{
    display: flex;
    flex-direction: column;  
    overflow: hidden;
    align-items: center;
    padding: 20px;
    gap:30px;
    font-family: EB Garamond;
    margin-top: 56px;
}

.specializations{   
    background-color: #9cbcb7;
    padding: 25px;
    height: 100vh; 
    overflow: hidden;
    
}

.card{
    width: 90vh;
    background-color:#dfebe9;
    color: #56486c;
}


